<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Setting</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-sliders fa-fw"></i> System Setting
                </div>
                <div class="panel-body">
                	<form name="settingForm" role="settingForm" ng-submit="update()" novalidate>	
                		<div class="form-group">
	                		<div class="form-inline">
								<label class="control-label">Unlimited time&nbsp;&nbsp;</label>
								<input type="checkbox" ng-model="unlimtedTime" ng-change="unlimtedTimeChange()" ng-disabled="settingForm.$invalid">
	                		</div>
                		</div>
                		<div class="form-group input-group" ng-show="unlimtedTime" ng-class="{'has-error':settingForm.pricePerTime.$invalid}">
                                <span class="input-group-addon">Price</span>
                                <input type="number" name="pricePerTime" class="form-control" ng-model="pricePerTime" required>
                                <span class="input-group-addon">/time</span>
						</div>	
						<div ng-hide="unlimtedTime">
							<div class="form-group input-group">
								<span class="input-group-addon">before</span>
								<select class="form-control" ng-options="option for option in [1,2,3,4,5,6,7,8,9,10] track by option" ng-model="beforeHour"></select>
								<span class="input-group-addon">/hr</span>
							</div>
	                		<div class="form-group input-group" ng-class="{'has-error':settingForm.beforeHourPriceRate.$invalid}">
	                               <span class="input-group-addon">Price</span>
	                               <input type="number" name="beforeHourPriceRate" class="form-control" ng-model="beforeHourPriceRate" required>
	                               <span class="input-group-addon">/hr</span>
							</div>
	                		<div class="form-group input-group" ng-class="{'has-error':settingForm.afterPriceRate.$invalid}">
	                               <span class="input-group-addon">after</span>
	                               <input type="number" name="afterPriceRate" class="form-control" ng-model="afterPriceRate" required>
	                               <span class="input-group-addon">/hr</span>
							</div>
							<div class="form-group input-group">
								<span class="input-group-addon">Time Calculation&nbsp;&nbsp;</span>
								<select class="form-control" ng-options="option for option in [1,15,30,45] track by option" ng-model="minuteToHour"></select>
								<span class="input-group-addon">minute to be an hour</span>
							</div>
						</div>
						<div class="form-group input-group" ng-class="{'has-error':settingForm.parkingSize.$invalid}">
                                <span class="input-group-addon">Parking Size</span>
                                <input type="number" name="parkingSize" class="form-control" ng-model="parkingSize" required>
                                <span class="input-group-addon"><i class="fa fa-car fa-fw"></i></span>
						</div>
						
						<div style="text-align: center;">
							<button type="submit" class="btn btn-outline btn-primary btn-lg" ng-disabled="settingForm.$invalid">Update</button>
						</div>
                	</form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>