<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Setting</h1>
		</div>
	</div>
	
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-sliders fa-fw"></i> System Setting
                </div>
                <div class="panel-body">
                	
                	<form class="form-inline" name="settingForm" role="settingForm" ng-submit="save()">
                		<div class="form-inline" style="margin-bottom: 20px;">
							<label class="control-label" style="margin-right: 80px;">Price&nbsp;&nbsp;</label>
							<input class="form-control" type="text" ng-model="price">&nbsp;&nbsp;<label>/hour</label>
                		</div>
						<div class="form-inline">
							<label>Time Calculation&nbsp;&nbsp;</label>
							<select name="roles" class="form-control">
								<option value="1">1</option>
								<option value="15">15</option>
								<option value="30">30</option>
								<option value="45">45</option>
							</select>
							<label>&nbsp;&nbsp;minute assuming to a hour</label>
						</div>
                	</form>
                	
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>